config:
  react-cloudflare-template:accountId: YOUR_CLOUDFLARE_ACCOUNT_ID
  react-cloudflare-template:zoneId: YOUR_CLOUDFLARE_ZONE_ID
  react-cloudflare-template:pagesProjectName: my-app
  react-cloudflare-template:apexDomain: example.com
  react-cloudflare-template:wwwDomain: www.example.com
